# Build files and directories
build/
.cache/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled object files
*.o
*.so
*.a
*.dll

# Compiled executables
*.exe

# Platform-specific, can be generated with
# `cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=1`
# (dictory will be filled with build-related files)
compile_commands.json

# Added by cargo

/target
